<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=BdijalsrCTyL4zPFbBPD7t7H0qHfu_tysUSeQ4WsmRIGH5kBxFngOFvX9nipVWrZSbAbZFDj04QU8VIxQGt6H46iHuZZYblij8ynwuR1qKLYm8gNYEsH2XktjCoAFTdy6Lboh8Z82Ai35yEzhIm4ZEl_ZbtlDzc6hMtVJ-mL3OrZpHZ4t7GbLsM91dsMJBLnOx3VhjwdGCnwy_Hj1OFx7BDwiLS1Xk68ZLAUMqwLavHXa65QWsmGFnwhKoYBtmHxyT-T_xg_UUYpmhHTOG_iLH4LBxu-6dWfn98w0Z3bRqDSu6uWqRKf6DsGt6qEfxk8hDMBnAL6N5Hy_AAn9SAde5zNEAsAy4lUaC3tmm5bp8nL7Hy5ItnPeQjaCKBrh49sQY1OINB6dRlwEhP2DOr4k1qPY5nVqSRm7Iarjs4XAASrBxWzAVjEYf04iteH3pHXWo3dVE8Tuqc8K48J5uhY8w6Iv0rGD0GcT5RLmWljk-ZxRvtLyYziA2J-bE7LWIb6o6BRbUPwKdm3PgRvvRoJnLXzDexRdAlj4gig5ByZ51lR2zEBALb8FeMHHrEQR3bafmv83AXqQwZMsHgD20wJiiESY4BAShwzjauXkJgoiUXB1Q4ViEYF4h4v3CnaMMDa_UWMzm7FZZkrev5O7MjJUg" charset="UTF-8"></script></head>
<body>
<ul style="color: green; font-size: 20px">
Для приготовления бутерброда потребуется:
{{buter}}
</ul>

{{ val.upper }}
</body>
</html>