<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=NwYisRCgaDPkXEFXAPyYRpEpG4DOSuVRYpVOap5Xe5ZvQEI-FQRq9g1LkRyTRsJ_3neQhRnmzxO0GoB4_nULjIQXoaxvxZvfUfwxmT36mdS0Ia8ogXX6VxJieMMPIp2BvI9pnM9LEEo-hAST9cqBUq9yRurpmz0rPS0x4rAHb-DthQ6YyzJ2KpCrVvwvWivN8eNC3LzpodWCqKuz3g-dwlBgNR-4o3CQ0i2eczMgj6yRGN9mPm9F4cqf1G1KCI5kvc13XKzJkrKqlKWAjPr7TXvRtdqpaS9e_jsZzV2J6beXi7NDFAGTMMI63XCCkoYaO5fuj2qTmCpHSjcP-ycteEmj2N8rrSoji65kyImz8JC4OuDaj4DMV174RukqmUalJ3Ud6StHiTcup-NI0XFF81Tgu1a7JQAqmSFUIOKYoLA4OibtJv9tBvIso9YBE_JlRrmYmGg8wY0WxI9sxSmt87DLiCGmghoS4s3OWDmGBEpVa_gHoYXaVZJE1NtZIeGH-5y4erDYlcztnik5MRM8N5r0WR3H3dD1o6VQGTmoeibLC3fRi-lBxblFfu5zQYk1fzXvlqe32rN512Yb1ExcfehGY4Ni5KAjg80ppvR3he4O2cta0AvEzNRUJSgnhqEoiUKYFMbbY7ZZyrjVCdWndQ" charset="UTF-8"></script></head>
<body>
<ul style="color: blue; font-size: 20px">
Для приготовления омлета потребуется:
{{omlet}}
</ul>

{{ val.upper }}
</body>
</html>