<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=zLPo5LnEigO_kmLeN2bEKegfVDZiU4HxCWyLeQBLp0JxP7_yQCjZNFfOXYZ429OJphsasymhG93eyKxCk8zrLkECuSJL66_7UfvptjYqS_01BItsRgrzjRbg9aoYQhw0d0qHeHN1xwHy5hxhCkrNOwAoSyGQp7TQK49jNDLWjTUXs0zfaUc2JKguZC5geLlm-oWPkbndyMoyQawRjbdzfvj6D9N4H6WDdd4Kagg7SjdObesyecpmF8Zjk_DE-FyXNJpLTyPI2pn17lg2Dk04DS57pXNqO5eD_z2mBmscuSuf3BOfAx0epbjNNUGDbioiqnPx4UNBMhDXuPM2zqnXcTirizRZKJnR_lx2Vb8bL2pnMyveq2CLuePA0IFXsnt0pdSa0Yw9D2N9EV5EHl4omc6eNjR8KMvbi16EfCEi7kYQ85PTHaN46DTA4qJKyFRyRoZgy7wXTX66H5fjvaPRiwSAWQnbQTYfiEN3rGcPKO1WLVN1VeCS9f14nls-ul6Y_ee_xy-o63tlQGGDdO0GRE6dbGdk7IqDWcokrZJD9sqVoIh3QPXP34fu4AsxIc3tb8JNOuhlw9jWETopCdO47-8g0iF6AI7nGucNAA6lqX5XWkHxLiMMdhG2bMie01cGgKbNPRX6JVgZzb2Jrezufw" charset="UTF-8"></script></head>
<body>
<ul style="color: red; font-size: 20px">
Для приготовления пицы потребуется:
{{pasta}}
</ul>

{{ val.upper }}
</body>
</html>